
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.space {
  height: 50px;
}



.tweet-outline {
  border: solid 2px;
  margin-top: 20 px;
  height: 9em;
  width: 91vw;
  display: flex;
  flex-direction: column;
  box-shadow: none;
  margin-bottom: 30px;
}

.tweetHeader {
  display: flex;
  flex-direction: row;
  align-self: center;
  width: 94%;
  height: 15%;
  padding-top: 1em;
  justify-content: space-between;
}

.tweetFooter {
  display: flex;
  flex-direction: row;
  align-self: center;
  width: 90%;
  height: 15%;
  padding-bottom: 1em;
  justify-content: space-between;
}

.tweetBox {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: flex-end;
  padding-top: 10px;
  width: 90%;
  height: 70%;
  word-wrap:break-word;
}

/* .tweet-message {
  white-space:pre-wrap;
} */

.tweetUserBox {
  flex-grow: 1;
  display: flex;
  justify-content: flex-start;
  margin: 1opx;
}

.tweetIconBox {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  margin: 1opx;
}

.tweetAvatar {
  width: 2em;
  background-color: transparent;
}

.tweetName {
  font-size: 24px;
  padding-left: 0.5em;
  font-family: 'Source Sans Pro', sans-serif; 
  align-self: center;
}

.tweetTag {
  font-size: 24px;
  color: #A7C6DB;
  font-family: 'Source Sans Pro', sans-serif; 
  font-weight: bold;
  align-self: center;
}



.tweetTime {
  font-size: 16px;
  font-family: 'Source Sans Pro', sans-serif; 
  font-weight: bold;
}



.tweet-line {
  width: 96%;
  align-self: center;
  background-color: #f4f1ec;
  border: none;
  border-bottom: solid 2px #545149;
  height: 10%;
  flex-grow: 0;
}


.new-tweet {
  padding-top: 1.5em;
  align-items: center;
  display: flex;
}

.tweetIcon {
  color: #4056A1;
  font-size: 16px;
  border: none;
  background-color: transparent;
  resize: none;
  outline: none;
}





